.entry {
  display: flex;
  font-size: 16px;
  padding: 12px 16px;
  background-color: rgb(188, 184, 184);
  border-radius: 6px;
  margin-bottom: 16px;
  justify-content: space-between;

  img,
  p {
    cursor: pointer;
    font-family: Ubuntu-Medium;
  }
}

.label {
  padding: 16px 12px;
  background-color: white;
  display: flex;
  border-radius: 50px;
  cursor: pointer;
  input {
    outline: none;
    font-family: Ubuntu-Medium;
    font-size: 16px;
  }
}

.upperPart {
  img {
    margin: 0 12px;
  }

  display: flex;
  margin-bottom: 16px;
}
