.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  &__button {
    display: flex;
    justify-content: flex-end;

    button, a {
      margin-left: 40px;
      padding: 11px 28px;
      height: 40px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.modalTopcontainer {
  display: flex;
  justify-content: flex-end;

  h3 {
    font-size: 16px;
    font-family: Ubuntu-700;
  }

  img {
    cursor: pointer;
  }
}

.modalContainer {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  width: 700px;

  p {
    font-size: 16px;
    font-family: Ubuntu-500;
    margin: 16px 0;
  }
}
