.header {
  max-width: 1300px;
  padding: 0 10px;
  margin: 7px auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;

  img {
    cursor: pointer;
  }
}

.container {
  display: flex;
  img {
    margin-right: 40px;
  }
}
